<h1>Home</h1>

<ol>
  <li><%= link_to t("request_methods"), request_methods_path %></li>
  <li><%= link_to t("http_statuses"), http_statuses_path %></li>
  <li><%= link_to t("http_headers"), http_headers_path %></li>
</ol>

